{% extends "layout.html" %}
{% block main %}

	<div id="sidebar" >
        {% from "_formhelpers.html" import render_field %}
        <form id = "circ_form" method='POST' action="/lrplot/">

            <table>
                <tr>
                    {{ render_field(form.vSource) }}
                    {{ render_field(form.vType) }}
                    {{ render_field(form.t_0) }}
                    {{ render_field(form.resistance) }}
                    {{ render_field(form.rOrder) }}
                    {{ render_field(form.inductance) }}
                    {{ render_field(form.lOrder) }}
                </tr>
            </table>
            <p><input type=submit value=Submit>
               <button type="button" id="annotate">Annotate</button>
            </p>
        </form>
	</div>


    <div id="content"></div>
{% endblock %}